
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{

    font-family: "Open Sans";
}

input[type='number']::-webkit-outer-spin-button, 
input[type='number']::-webkit-inner-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.cat1 {
    margin-right:2rem;
    }

.cat2{
    margin-right:2rem;
    } 
    
.cat-container{
    display:flex;
    }

.cat{
    background:white;
    border-bottom: 3px solid #515151;
    padding-left: 0rem;
    }

/* Nuevo */
.range-cat{
    display:flex;
    width:100%;
    justify-content: space-between;    /* Nuevo */
    
    }
    
.select-range{
    width:48%;
    margin-top:2.4rem;
    
    }

.search-project{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
    margin-top: 10px;
}
.search-project label{
    display: inline-block;
    margin-right: 5px;
}
#search-project{

    width: 100%;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    height: 1.1rem;
}
.inactive{
    display: none !important;
}
/* Nuevo */
.select-range label{
    display: block;
}

.search-project{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
    margin-top: 13px;
}
.search-project label{
    display: inline-block;
    margin-right: 5px;
    margin-top: 3px;
}
#search-project{

    width: 100%;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 2px solid;
    background: white;
    height: 2.1rem;
}
.inactive{
    display: none !important;
}
input[type="range"] {
      -webkit-appearance: none;
      height: 2px;
      width: 100%;
      background-color: #515151;
      


}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #515151;
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
}

.projects-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 10px;
    column-gap: 10px;
    margin-top:4rem;

        
}
.project{
    height: 28rem;
    width: 32%;
    cursor: pointer;
}

.big-project{
    width: 100%;
    margin-bottom: 2rem;
    cursor: pointer;
}
.image-project{
    width: 100%;
    height: 60% !important;
    border-radius: 10px;
    object-fit: cover;

}
.image-big-project{
    width: 100%;
    height: 36rem;
    object-fit: cover;
    border-radius: 15px;
}
.project8{
    margin-bottom: 8rem !important; 
}

.project12{
    margin-bottom: 8rem!important;  
}
.project16{
    margin-bottom: 8rem !important;  
 }
 .project20{
    margin-bottom: 9rem;  
 }
 
.espacioabajo{
    margin-bottom: 8rem !important;
    margin-top:-2rem;
}

.addespacedown{
    margin-bottom: 13rem !important;
    margin-top:-2rem;

}
.setupdown{
    margin-top: -12rem;
    margin-bottom: -7rem; 
}

.text-project-container p{
    font-size: 15px;
    line-height: 17px;
}



/* ------------------------------------------ */
.range_container {
    display: flex;
    flex-direction: column;
    width: 46%;
    /* margin: 35% auto; */
}
  
.sliders_control {
position: relative;
min-height: 50px;
}

.form_control {
position: relative;
display: flex;
justify-content: space-between;
font-size: 24px;
color: #635a5a;
}

input[type=range]::-webkit-slider-thumb {
-webkit-appearance: none;
pointer-events: all;
width: 10px;
height: 10px;
background-color: #515151;
border-radius: 50%;
box-shadow: 0 0 0 1px #C6C6C6;
cursor: pointer;
}

input[type=range]::-moz-range-thumb {
-webkit-appearance: none;
pointer-events: all;
width: 10px;
height: 10px;
background-color: #515151;
border-radius: 50%;
box-shadow: 0 0 0 1px #C6C6C6;
cursor: pointer;  
}

/* input[type=range]::-webkit-slider-thumb:hover {
background: #f7f7f7;
} */

input[type=range]::-webkit-slider-thumb:active {
box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
-webkit-box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
}

input[type="number"] {
color: #8a8383;
width: 86px;
height: 30px;
font-size: 20px;
border: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
    opacity: 1;
}

input[type="range"] {
-webkit-appearance: none; 
appearance: none;
height: 2px;
width: 100%;
position: absolute;
background-color: #C6C6C6;
pointer-events: none;
}

#fromSlider {
height: 0;
z-index: 1;
}
@media only screen and (max-width: 425px)  {
 
    
    .project{
        width: 22rem;
    
    }
    .text-project-container{
        text-align: justify;
    }
    .image-big-project{
        width: 100%;
        height: 60% !important;
        border-radius: 10px;
        object-fit: cover;
    
    }
    .big-project{
        width: 22rem;
        cursor: pointer;
    }

    
    }


